/* meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
  font-family: "NorseBold"; /* Choose a name for your font */
  src: url("fonts/Norsebold.otf") format("opentype"); /* Specify the path and format */
  font-weight: normal; /* Optional: define weight */
  font-style: normal; /* Optional: define style */
}

body {
    background-color: rgb(34, 34, 34);
    /* margin-left: max();
    margin-right: max(); something like this will be needed*/
}

.content {
    height: 100vh;
    width: 100vw;
    /* min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw; */

    display: flex;
}

.left-side {
    position: relative;

    display: flex;
}

.background-image {
    height: 100vh;
    width: auto;
}

.odin-logo {
    position: absolute;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

    top: 20%;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.308);

    display: flex;
    justify-content: center;
}

.odin-logo-text {
    font-family: 'NorseBold';
    color: white;
    font-size: 80px;

    align-self: center;
}

.photo-credits {
    color: aliceblue;
    font-size: 12px;

    position: absolute;
    top: 100;
    bottom: 2%;
    width: 100%;
    text-align: center;
}
.photo-credits>a {
    color: aliceblue;
}




.right-side {
    height: 100vh;

    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    height: 30%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    justify-content:end;
    gap: 16px;
}

.header-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 600;
}

.form {
    height: 40%;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-title {
    margin-top: 24px;
    margin-left: 24px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 300;
}

.labels-and-inputs {
    margin-left: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.labels-and-inputs-row {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.individual-labels-and-inputs {
    display: flex;
    flex-direction: column;
}

label {
    font-size: small;
}

.footer {
    height: 30%;
    
}